/*Initialization*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --background-color: hsl(30, 54%, 90%);
  --background-color-card: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 7%);
  --secondary-color: hsl(0, 0%, 42%);
  --tertiary-color: hsl(14, 45%, 36%);
  --pink-color: hsl(330, 100%, 98%);
}

html {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

main {
  background-color: var(--background-color-card);
  width: 100%;
  margin: 20px;
  min-width: 375px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
}


h1,
h2 {
  font-family: "Young Serif", serif;
}

h2 {
  color: var(--tertiary-color);
}

h3 {
  color:hsl(332, 51%, 32%)
}

p {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

ul, ol,li {
  list-style-position: inside;
  color: hsl(30, 10%, 34%);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

li::marker {
  color: var(--tertiary-color);
  /* Color for the numbers */
}

table {
  width: 100%;
  border-collapse: collapse;
  color: hsl(30, 10%, 34%);
}

.prep-time{
  background-color: var(--pink-color);
  border-radius: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid hsl(30, 10%, 34%);
}

tr:last-child td {
  border-bottom: none;
}